/* Hoja de Estilo: style5s.css */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e6f7ff; /* Color de fondo suave */
}

header {
    background: linear-gradient(to right, #4e54c8, #8f94fb); /* Degradado atractivo */
    color: white;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav ul li:hover {
    color: #ffcc00;
    transform: scale(1.1);
}

h1 {
    font-family: 'Garamond', serif;
    text-align: center;
    color: #333;
    margin: 20px 0;
    animation: fadeIn 2s ease-in-out, bounce 2s infinite;
}

h3, h4 {
    font-family: 'Garamond', serif;
    text-align: center;
    color: #333;
    animation: fadeIn 2s ease-in-out;
}

h4 {
    margin-top: 10px;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    text-align: center;
    color: #555;
    animation: fadeIn 1s ease-in-out;
}

table {
    width: 100%;
    max-width: 600px; /* Ancho máximo para pantallas grandes */
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white; /* Fondo blanco para la tabla */
}

th, td {
    padding: 10px; /* Padding más cómodo */
    text-align: center;
    border: 1px solid #ddd;
    font-size: 0.9em;
    transition: background-color 0.3s, transform 0.3s;
}

th {
    background-color: #ffcc00; /* Color de fondo para encabezados */
    color: #333;
}

td:hover {
    background-color: #f0f0f0;
    transform: translateY(-3px);
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: white;
    font-weight: bold;
    border-top: 4px solid #ffcc00;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.image-container {
    transition: transform 0.3s;
}

.image-container img {
    width: 80px; /* Ajustar ancho de las imágenes */
    height: auto; /* Mantener proporciones */
}

.image-container:hover {
    transform: scale(1.1) rotate(5deg);
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Media Queries */
@media (max-width: 800px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 10px 0;
    }
    h1, h3, h4 {
        font-size: 1.5em;
    }
    table {
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.2em;
    }
    footer {
        font-size: 0.8em;
    }
    th, td {
        font-size: 0.7em;
        padding: 5px; /* Reducir padding */
    }
}
